:root {
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --bg-color-1: #97bcd7;
    --bg-color-2: #c5ccd7;
    --error-bg-color: #f7b4bb;
    --border-color-1: #31304D;
    --card-color: #d5dbe6;
    --search-input-color: #f0ece5;
    --opacity-bg-color: rgba(0, 0, 0, 0.5);
    --data-grid-bg-color: #8f939b;
    --today-weather-container-mob-color: #0d5579;
    --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --box-shadow-2: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    --box-shadow-3: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    --box-shadow-4: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

body {
    overflow: hidden;
}

.weather-image-container {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    animation: slideImage 0.5s forwards ease;

    img {
        height: 100%;
        width: 100%;
        display: block;
    }
}

.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 18rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--card-color);
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: var(--box-shadow-2);
    color: transparent;

    .search-img-container {
        flex-direction: column;
        transition: all 1s ease-in-out;

        .weather-img-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            img {
                width: 50%;
            }

            .main-container {
                width: 50%;
                align-self: center;
            }

            .desc-container {
                width: 100%;
                justify-self: center;
            }
        }

        .search-container {
            display: flex;
            gap: 1rem;
            justify-content: space-evenly;
            align-items: center;
            flex-grow: 1;

            .place-input {
                height: 3rem;
                color: var(--primary-text-color);
                background-color: var(--search-input-color);
                border-radius: 2rem;
                padding: 0 1rem;
                border-color: transparent;
                box-shadow: var(--box-shadow-1);
                text-align: center;
                outline: 2px transparent;
                flex-grow: 1;
            }

            .submit-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                background-color: var(--search-input-color);
            }
        }

        &.flex {
            flex-direction: row;
        }
    }

    .search-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        margin-top: 1.5rem;
        width: 75%;
        text-align: center;
        opacity: 0;

        .data-field {
            width: 100%;
            padding: 1rem;
            font-size: 1.1rem;
            font-weight: 400;
            border-bottom: 1px solid var(--primary-text-color);
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
                text-align: center;
            }

            .info-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    margin-right: 0.3rem;
                }
            }
        }
    }

    .inner-data {
        animation: animateSR 0.5s ease-in-out forwards;
        animation-delay: 0.3s;
    }

    .search-results:not(.inner-data) {
        color: var(--primary-text-color);
    }

    .data-grid {
        display: grid;
        grid-template: auto auto / auto auto auto auto;
        gap: 2rem;
        text-align: center;
        background-color: var(--search-input-color) 80%;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: var(--box-shadow-3);
        scale: 0.9;
        background-color: var(--data-grid-bg-color);
        transform: translateY(200%);
        animation: animateGrid 0.5s ease-in-out forwards;
        animation-delay: 0.9s;

        .daily-data-cell {
            padding: 0.5rem;
            border-radius: 1rem;
            box-shadow: var(--box-shadow-4);

            .temp-container {
                padding: 0 1rem;
                display: flex;
                gap: 1rem;
            }
        }
    }
}

.today-weather-main-desc-container {
    height: fit-content;
    text-align: center;
    background-color: var(--opacity-bg-color);
    color: var(--secondary-text-color);
    position: absolute;
    top: -50%;
    left: 1%;
    padding: 0 2rem 0 1rem;
    border-radius: 1rem;
    animation: todayWeatherAnimate 0.5s ease-in-out forwards;
    animation-delay: 1.2s;

    .img-main-container {
        font-size: 1.5rem;
        font-weight: 900;
        display: flex;
        align-items: center;

        p {
            font-weight: 400;
            color: var(--secondary-text-color);
            font-size: smaller;
        }

        .img-container {
            background-color: var(--bg-color-1);
            border-radius: 50%;
            scale: 0.6;
        }
    }

    h4,
    h5 {
        color: var(--secondary-text-color);
    }
}

.data-received {
    animation: animateCardContainer 0.5s forwards ease-out;
    animation-delay: 0.5s;
}

.time-container {
    position: absolute;
    left: 1%;
    bottom: -20%;
    animation: timeShow 0.5s forwards ease;
    animation-delay: 1.4s;
    -webkit-text-stroke: 0.05rem;
    background-color: var(--opacity-bg-color);
    padding: 0 2rem;
    border-radius: 1rem;
    min-width: 21.5rem;

    p {
        font-size: 5rem;
        font-weight: 300;
        color: var(--secondary-text-color);
    }

    .day {
        font-size: 1.5rem;
        margin: 0;
        position: relative;
        top: 1.5rem;
    }

    .livetime {
        margin: 0;
    }
}

.error-container {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--error-bg-color);
    border-radius: 1rem;
    width: 40%;
    padding: 1rem;
    text-align: center;
    box-shadow: var(--box-shadow-4);
}

.show-error {
    animation: showCard 6s forwards ease-in-out;
}

.initial-info-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 5%;
    left: 2%;
    transform: translate(0, -150%);
    background-color: var(--card-color);
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem;

    p {
        margin: 0;
    }
}

.show-info {
    animation: showInfo 0.5s forwards ease-in-out;
}

.hide-info {
    animation: hideInfo 0.3s forwards ease-in-out;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid var(--border-color-1);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.daily-text {
    opacity: 0;
    animation: animateText 0.3s ease-in forwards;
    animation-delay: 0.7s;
}

@keyframes animateText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateCardContainer {
    0% {

    } 100% {
        height: 100%;
        width: 50%;
        top: 0;
        right: 0;
        transform: none;
        border-radius: 0;
        color: var(--primary-text-color);
    }
}


@keyframes slideImage {
    0% {
        right: 100%;
    }

    100% {
        left: 0;
    }
}

@keyframes showInfo {
    0% {
        transform: translate(0, -200%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes hideInfo {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -200%);
    }
}

@keyframes showCard {
    0% {
        top: -50%;
    }

    20% {
        top: 10%;
    }

    80% {
        top: 10%;
    }

    100% {
        top: -50%;
    }
}

@keyframes timeShow {
    0% {
        bottom: -20%;
    }

    100% {
        bottom: 1%
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes todayWeatherAnimate {
    0% {
        top: -50%;
    }

    100% {
        top: 2%;
    }
}

@keyframes toggleFlex {
    0% {
        flex-direction: column;
    }

    100% {
        flex-direction: row;
    }
}

@keyframes animateSR {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes animateGrid {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    body {
        overflow: scroll;
    }

    .weather-image-container {
        z-index: -1;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .today-weather-main-desc-container {
        position: static;
        width: 100%;
        border-radius: 0;
        top: 0 !important;
        z-index: 1;
        left: 0;
        background-color: var(--today-weather-container-mob-color);
        animation: none;

        .img-main-container {
            display: block;
        }
    }

    .time-container {
        position: fixed;
        bottom: 0 !important;
        left: 0;
        background-color: var(--primary-text-color);
        border-radius: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: none;
        -webkit-text-stroke: 0;
        padding: 0 1rem;
        min-width: unset;

        .day {
            max-width: 42%;
            font-size: 1rem;
            position: static;
        }

        .livetime {
            min-width: 55%;
            font-size: 2.5rem;
            -webkit-text-stroke-width: 1;
        }
    }

    .card-container {
        height: fit-content;
        border-radius: 0.5rem;
        position: absolute;
        transition: none;

        &.data-received {
            justify-content: flex-start;
            position: static;
            width: unset;
            top: unset;
            right: unset;
            width: 90%;
        }

        .search-results {

            .data-field {
                align-items: center;
                padding: 1rem 0;
            }

            &.inner-data {
                width: 100%;
            }
        }

        .search-img-container {
            .search-container {
                margin-top: 2rem;

                .submit-btn {
                    height: 3rem;
                    width: 3rem;
                }
            }
        }
    }

    .data-grid {
        display: grid;
        grid-template: auto / auto auto;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0.5rem;
        background-color: var(--card-color);
        margin-top: 1rem;
        box-shadow: var(--box-shadow-4);

        .daily-data-cell {
            border-radius: 0.5rem;
            box-shadow: var(--box-shadow-4);
            padding: 0.5rem;
            background-color: var(--bg-color-2);

            .img-date-container {
                text-align: center;
            }


            .temp-container {
                display: flex;
                align-items: center;
                justify-content: center;

                &>div {
                    width: 50%;

                    &>p {
                        text-align: center;
                    }
                }

                &:first-child {
                    border-right: 2px solid var(--primary-text-color);
                }
            }
        }
    }

    .sample-div {
        height: 5rem;
        width: 100%;
    }

    .initial-info-container {
        width: 95%;
        left: 2%;
        transform: translate(-50%, -150%);
    }

    .loader.info {
        width: 50px;
    }
}