.weather-image-container {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    animation: slideImage 1s forwards ease;

    img {
        height: 100%;
        width: 100%;
        display: block;
    }
}

.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 18rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #B6BBC4;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: all 1s ease;
    color: transparent;

    .weather-img-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img {
            width: 50%;
        }
        .main-container {
            width: 50%;
            align-self: center;
        }
        .desc-container {
            width: 100%;
            justify-self: center;
        }
    }

    .search-container {
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;

        .place-input {
            height: 3rem;
            color: #000;
            background-color: #F0ECE5;
            border-radius: 2rem;
            padding: 0 1rem;
            border-color: transparent;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            text-align: center;
            outline: 2px transparent;
            flex-grow: 1;
        }

        .submit-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            background-color: #F0ECE5;
        }
    }

    .search-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        margin-top: 1.5rem;
        width: 75%;
        transition: all 0.5s ease;
        text-align: center;

        .data-field {
            width: 100%;
            padding: 1rem;
            font-size: 1.1rem;
            font-weight: 400;
            border-bottom: 1px solid #000;
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
                text-align: center;
            }

            .info-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    margin-right: 0.3rem;
                }
            }
        }
    }

    .search-results:not(.inner-data) {
        color: #000;
    }
}

.today-weather-main-desc-container {
    height: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 130%;
    left: 25%;
    transform: translate(-25%, -50%);
    padding: 2rem;
    border-radius: 1rem;
    animation: todayWeatherAnimate 1s ease-in-out forwards;

    .img-main-container {
        font-size: 1.5rem;
        font-weight: 900;

        .img-container {
            background-color: #97bcd7;
            border-radius: 50%;
            scale: 0.6;
            // border: 0.5rem solid #000;
        }
    }

    h4, h5{
        color: #fff;
    }
}

.data-received {
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    transform: none;
    border-radius: 0;
    color: #000;
    opacity: 80%;
}

.time-container {
    position: absolute;
    left: 1%;
    bottom: -20%;
    animation: timeShow 1s forwards ease;
    -webkit-text-stroke: 0.05rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 2rem;
    border-radius: 1rem;
    min-width: 21.5rem;

    p {
        font-size: 5rem;
        font-weight: 300;
        color: #fff;
    }

    .day {
        font-size: 1.5rem;
        margin: 0;
        position: relative;
        top: 1.5rem;
    }

    .livetime {
        margin: 0;
    }
}

.error-container {
    position: absolute;
    top: -20%;
    left: 3%;
    background-color: rgb(224, 80, 80);
    border-radius: 1rem;
    width: 40%;
    padding: 1rem;
    text-align: center;
    display: none;
}

.show-error {
    animation: showCard 6s forwards ease-in-out;
}

.initial-info-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 5%;
    left: 2%;
    transform: translate(0, -150%);
    background-color: #B6BBC4;
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem;

    p {
        margin: 0;
    }
}

.show-info {
    animation: showInfo 0.5s forwards ease-in-out;
}

.hide-info {
    animation: hideInfo 0.5s forwards ease-in-out;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #31304D;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes slideImage {
    0% {
        right: 100%;
    } 100% {
        left: 0;
    }
}

@keyframes showInfo {
    0% {
        transform: translate(0, -200%);
    } 100% {
        transform: translate(0, 0);
    }
}

@keyframes hideInfo {
    0% {
        transform: translate(0, 0);
    } 100% {
        transform: translate(0, -200%);
    }
}

@keyframes showCard {
    0% {
        top: -20%;
        display: block;
    }

    20% {
        top: 5%;
    }

    80% {
        top: 5%;
    }

    100% {
        top: -20%;
        display: none;
    }
}

@keyframes timeShow {
    0% {
        bottom: -20%;
    }

    100% {
        bottom: 1%
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes todayWeatherAnimate {
    0% {
        top: 130%;
    } 100% {
        top: 50%;
    }
}