
.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    .app-title {
        font-size: 3rem;
        animation: fadeInOut 4s linear forwards;
    }

    .info-loader-container {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
        animation : fadeIn 1s linear forwards;
        animation-delay: 4s;
        opacity: 0;
    }
}


.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    } 20% {
        opacity: 100%;
    }
    80% {
        opacity: 100%;
        transform: translateY(0%);
    } 100% {
        transform: translateY(-100%);
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 100%;
    }
}
@keyframes slideImage {
    0% {
        right: 100%;
    } 100% {
        left: 0;
    }
}

@keyframes showInfo {
    0% {
        top: -20%;
    } 100% {
        top: 5%;
    }
}

@keyframes showCard {
    0% {
        top: -20%;
    }

    20% {
        top: 5%;
    }

    80% {
        top: 5%;
    }

    100% {
        top: -20%;
    }
}

@keyframes timeShow {
    0% {
        bottom: -20%;
    }

    100% {
        bottom: 1%
    }
}